#OSX
.DS_Store
*.log
*.code-workspace

chain

# End of https://www.gitignore.io/api/latex


#Added by cargo
#
#already existing elements are commented out

kernel-ewasm/target/*
**/*.rs.bk
Cargo.lock
